.fondo1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7MB3U1hbAntxd9kPirvfqI_3lmRWhW3LZ8Q&usqp=CAU);
}
.fondo2{
    background-color: black;
}
.letra{
    color: cornsilk;
}